// Release Configuration
#include "Common.xcconfig"

// Code Signing - Release
CODE_SIGN_STYLE = Manual

// Build Settings
SWIFT_OPTIMIZATION_LEVEL = -O
SWIFT_COMPILATION_MODE = wholemodule
GCC_OPTIMIZATION_LEVEL = s
ENABLE_TESTABILITY = NO
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym

// Other Settings
ONLY_ACTIVE_ARCH = NO
VALIDATE_PRODUCT = YES
